.jobs-bg-container {
  background-color: #000000;
  min-height: 100vh;
  background-size: cover;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.search-container,
.search-container-desktop {
  display: flex;
  border: 2px solid #2c364c;
  border-radius: 4px;
  margin-bottom: 14px;
}

.search-box {
  background-color: #000000;
  border-width: 0;
  width: 260px;
  height: 28px;
  padding-left: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #ffffff;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .search-container-desktop {
    width: 400px;
  }
  .search-box {
    width: 380px;
  }
}

.search-box:focus {
  outline-width: 0;
}
.search-icon {
  color: #ffffff;
}
.search-btn {
  width: 40px;
  background-color: #202020;
  border-width: 0;
}
@media screen and (min-width: 768px) {
  .search-container {
    display: none;
  }
  .jobs-outer-container {
    display: flex;
  }
  .profile-filters-container {
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .search-container-desktop {
    display: none;
  }
}
.job-items-list-container {
  list-style-type: none;
  padding-left: 0;
}
.no-jobs-img {
  height: 170px;
  width: 270px;
}
.no-jobs-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
}
.no-jobs-description {
  font-family: 'Roboto';
  font-weight: 300;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 13px;
  padding-top: 0;
  margin-top: 0;
}
.no-jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .no-jobs-img {
    height: 280px;
    width: 380px;
  }
  .no-jobs-heading {
    font-size: 28px;
  }
  .no-jobs-description {
    font-size: 13px;
  }
}
.jobs-failure-retry-btn {
  background-color: #4f46e5;
  color: #f1f5f9;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto';
  border-width: 0;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .jobs-failure-retry-btn {
    padding: 9px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.jobs-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .jobs-loader-container {
    width: 500px;
  }
}
